<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}


{% block body_block %}
<html>
	<head>
<style>
body {background-color: beige;}
</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	</head>
	<body>
	<div>
		<div id="tl">111111<br/>


		</div>
</div>
<script>document.getElementById("tl").innerHTML='<object type="text/html" data="www.apoel.net" frameborder="0" scrolling="no"   overflow-y ="hidden" overflow="hidden" height="800px"" width="1200" ></object>';
</script>
	</body>
</html>
{% endblock %}